.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.swiper-button-next {
   right: 0 !important;
   width: 32px !important;
   height: 48px !important;
   background: rgb(0 0 0 / 20%);
   display: none !important;
}

.swiper-button-prev {
   left: 0 !important;
   width: 32px !important;
   height: 48px !important;
   background: rgb(0 0 0 / 20%);
   display: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   font-size: 28px !important;
   color: #fff;
}

.swiper:hover > .swiper-button-next,
.swiper:hover .swiper-button-prev {
   display: flex !important;
}
